
<div class="jumbotron text-center">
  <div class="container">
      <h1>Our Mission</h1>
      <p class="lead">New American Funding is a family-owned business, dedicated to helping other families and individuals improve their quality of living. We're a Fannie Mae, Freddie Mac, and Ginnie Mae direct lender, seller, and servicer, and even though we have thousands of employees, we'’'re a family.</p>
      <p class="lead">At New American Funding, our mission is to provide homeowners and future homeowners a variety of home financing options at competitive rates; fulfilling their needs in a manner that enhances their standard of living in realizing the American Dream.</p>
  </div>
</div>