<section class="container-fluid" id="contactFormWrap">
    <form class="needs-validation" id="contactForm" (ngSubmit)="submitData(contactForm.value, contactForm.valid)" #contactForm="ngForm" novalidate>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label class="d-none" for="firstName">First Name</label>
            <input type="text"
                   class="form-control form-control-lg"
                   name="FirstName"
                   placeholder="First Name"
                   [(ngModel)]="contact.FirstName"
                   #userFirstName="ngModel"
                   [pattern]="userNameRegex"
                   required>
            <small class="text-danger" *ngIf="userFirstName.errors?.required && (userFirstName.dirty || userFirstName.touched)">Required</small>
            <small class="text-danger" *ngIf="userFirstName.errors?.pattern">Incorrect format</small>
          </div>
          <div class="form-group">
            <label class="d-none" for="lastName">Last Name</label>
            <input type="text"
                   class="form-control form-control-lg"
                   name="LastName"
                   placeholder="Last Name"
                   [(ngModel)]="contact.LastName"
                   #userLastName="ngModel"
                   [pattern]="userNameRegex"
                   required>
            <small class="text-danger" *ngIf="userLastName.errors?.required && (userLastName.dirty || userLastName.touched)">Required</small>
            <small class="text-danger" *ngIf="userLastName.errors?.pattern">Incorrect format</small>
          </div>
          <div class="form-group">
            <label class="d-none" for="emailAddress">Email Address</label>
            <input type="email"
                   class="form-control form-control-lg"
                   name="Email"
                   placeholder="Email Address"
                   [(ngModel)]="contact.Email"
                   #userEmail="ngModel"
                   [email]="true"
                   required>
            <small class="text-danger" *ngIf="userEmail.errors?.email && (userEmail.dirty || userEmail.touched)">Required</small>
          </div>
          <div class="form-group">
            <label class="d-none" for="phoneNumber">Phone Number</label>
            <input type="tel"
                   class="form-control form-control-lg"
                   name="Phone"
                   placeholder="Phone Number"
                   [textMask]="{mask: phoneMask, guide: false}"
                   [(ngModel)]="contact.Phone"
                   #userPhone="ngModel"
                   [pattern]="phoneRegex"
                   required>
            <small class="text-danger" *ngIf="userPhone.errors?.required && (userPhone.dirty || userPhone.touched)">Required</small>
            <small class="text-danger" *ngIf="userPhone.errors?.pattern">Invalid Area Code</small>
          </div>
          <div class="form-group">
            <label class="d-none" for="zipCode">Zip Code</label>
            <input type="tel"
                   class="form-control form-control-lg"
                   name="Zip"
                   placeholder="Zip Code"
                   [textMask]="{mask: zipcodeMask, guide: false}"
                   [(ngModel)]="contact.Zip"
                   #userZip="ngModel"
                   [pattern]="zipcodeRegex"
                   required>
            <small class="text-danger" *ngIf="userZip.errors?.required && (userZip.dirty || userZip.touched)">Required</small>
            <small class="text-danger" *ngIf="userZip.errors?.pattern">Invalid Zipcode</small>
          </div>
          <div class="form-group">
            <label class="d-none" for="referredBy">Referred by</label>
            <input type="text"
                   class="form-control form-control-lg"
                   name="ReferredBy"
                   placeholder="Referred by"
                   [(ngModel)]="contact.ReferredBy"
                   #userReferredBy="ngModel"
                   [pattern]="referNameRegex">
            <small class="text-danger" *ngIf="userReferredBy.errors?.pattern && (userReferredBy.dirty || userReferredBy.touched)">Incorrect format</small>
          </div>
          <div class="form-group text-center" [hidden]="!isLoading">
            <div class="alert alert-secondary" role="alert">
              <app-loader [isLoading]="isLoading" [message]="message"></app-loader>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-submit d-block mx-auto"
                  type="submit"
                  [disabled]="contactForm.invalid"
                  role="button"
                  aria-label="Submit">Submit</button>
        </div>
      </div>
    </form>
  </section>
  