
<div class="jumbotron text-center">
  <div class="container">
      <h1>Ready to save some money!</h1>
      <app-loader [isLoading]="isLoading"></app-loader>
      <q [hidden]="isLoading">{{quote}}</q>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Test Heading</h2>
        <p>This is just some dummy content.</p>
      </div>
      <div class="col-md-4">
        <app-leadform></app-leadform>
      </div>
    </div>
  </div>
</section>